'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Split String on Enter'
      'submenu': [
        {
          'label': 'Split String at Cursor'
          'command': 'split-string-on-enter:split'
        }
      ]
    ]
  }
]
